$color-text: #555;
$color-text-dark: #000;
$color-text-light: #777;
$color-text-creem: #f3ede9;

$background-black: #232323;
$background-white: #fff;

//grid

$grid-width: 114rem;
$gutter-width: 3rem;
$gutter-horizontal: 2rem;